@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    background: url("../snake_bg.jpg")  no-repeat;
    background-size: 100vw 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#scoreBox{
    font-size: 39px;
    font-weight: bold;
    color: aliceblue;
    position: absolute;
    top: 20px;
    right: 70px;
    font-family: 'Tiro Gurmukhi', serif;
}
#highscoreBox{
    font-size: 39px;
    font-weight: bold;
    color: aliceblue;
    position: absolute;
    top: 57px;
    right: 70px;
    font-family: 'Tiro Gurmukhi', serif;
}
#board{
    background:linear-gradient(rgb(115, 146, 115) ,rgb(198, 198, 181));
    width: 120vmin;
    height: 90vmin;
    left: 10px;
    border: 4px solid black;
    display: grid;
    grid-template-rows: repeat(17,1fr);
    grid-template-columns: repeat(20,1fr);
}
.head{
    background:linear-gradient(rgb(89, 224, 89),rgb(77, 72, 72));
    border: 2px solid rgb(180, 146, 180);
    transform: scale(1.02);
    border-radius: 10px;

}
.snake{
    background:linear-gradient(green,black);
    border: 0.25vmin solid black;
    border-radius: 15px;
}
.food{
    background-color: rgb(79, 12, 12);
    border-radius: 20px;

}